html
  head
    title= title
    link(rel='import' href='richtools/' + richtool_tag + '.html')
  body
    - var attribute_string = ' '
    each attribute in attributes
        - attribute_string = attribute_string + attribute.attr + "='" + attribute.val + "' "
    != '<' + richtool_tag + attribute_string + ' />'